---
layout: default
---

<section class="hero-slider">
  <ul class="slides">
    <li class="video-header">
      <div class="background-image-holder parallax-background">
        <img class="background-image" alt="Background Image" src="i/febrero_2015.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <img alt="logo" class="logo" src="i/logo.png">
            {% for current in site.data.current %}
            <span class="uppercase text-white">
              {{ current.date}}, {{current.meetup}} Meetup {{current.location}}
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="color-blocks">
  {% for current in site.data.current %}
  <div class="simple-row">
    <div class="container">    
      <div class="row">
        <div class="col-md-2 text-center">
          <i class="icon">
            <img src="i/{{current.icon}}"/>
          </i>
        </div>

        <div class="col-md-4">
          <h1>{{current.meetup}} Meetup {{current.location_min}}</h1>
          <p>
            <b>{{current.full_date}}.</b><br>
            <b>Hora {{current.hour}} hrs.</b>
          </p>
        </div>
        <div class="col-md-3">
          <p class="location">
            <b>Ubicación:</b> {{current.address}}
          </p>
          <p>
            <a class="llegar" target="_blank" href="{{current.map}}">¿Cómo llegar?</a>
          </p>
        </div>
        <div class="col-md-3">
          <p class="button-container">
            <a target="_blank" href="{{current.tickets}}" class="btn btn-hollow">Conseguir boleto</a>
          </p>
        </div>
      </div><!--end row-->
    </div><!--end of container-->
  </div>
  {% endfor %}
</section>


<a id="platicas" class="in-page-link"></a>

{% for current in site.data.current %}

<section class="speakers duplicatable-content">

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1>Pláticas {{current.location_min}}</h1>
      </div>
    </div><!--end of row-->

    <div class="row">
      {% for bio in current.speakers %}
      <div class="col-md-3 col-sm-12">

        <div class="speaker-with-bio">
          <div class="speaker">
            <div class="image-holder">
              <img class="background-image" alt="Speaker" src="speakers/{{bio.twitter}}.png">
              <div class="hover-state text-center preserve3d">
                <div class="social-links vertical-align">
                  <a target="_blank" href="http://twitter.com/{{bio.twitter}}"><i class="icon social_twitter"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="speaker-description">
            <h2>{{bio.name}}</h2>
            <span class="sub">{{bio.speak}}</span>
            <p>{{bio.description}}</p>
          </div>
        </div>
      </div><!--end of individual speaker with bio-->
      {% endfor %}
    </div><!--end of row-->

  </div><!--end of container-->

</section>
{% endfor %}

<a id="galeria" class="in-page-link"></a>

<section class="instagram preserve-3d">
  <div class="instafeed" data-user-name="angularjsmx">
    <ul></ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <h1 class="text-white">Galería</h1>
          <span class="lead text-white">Descrubre más de los <strong><a class="text-white" href="http://instagram.com/angularjscl/" target="_blank">Angularians</a></strong></span>
        </div>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<a id="sponsors" class="in-page-link"></a>

<section class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Patrocinadores</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% for sponsor in site.data.sponsors %}
        <div class="col-md-4 col-sm-6 sponsor-column">
          <div class="sponsor text-center">
            <a href="{{sponsor.url}}" target="_blank">
              <img alt="{{sponsor.name}}" src="sponsors/{{sponsor.img}}">
            </a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <span>¿Interesado en patrocinar? <a href="mailto:gbelmm@gmail.com">Contáctanos</a></span>
      </div>
    </div>
  </div>
</section>

<section class="jobs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Buscas trabajo</h1>
        <p>Aquí puedes encontrar algunas vacantes relacionadas con AngularJs y tecnologías Web.<br/><br/></p>
      </div>
    </div><!--end of row-->

    <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
        <ul>
         {% for job in site.data.jobs %}
          <li>{{job.company}} : <a href="{{job.url}}" target="_blank"> {{job.position}}</a>, {{job.location}}</li>
         {% endfor %}
        </ul>
       </div>
    </div>
  </div>
</section>

<a id="historico" class="in-page-link"></a>

<section class="historico">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Histórico</h1>
      </div>
    </div><!--end of row-->

    <div class="row">
     {% for history in site.data.events %}
     <div class="col-md-2 col-sm-12">
      <h5>{{history.history}},<br/> {{history.meetup}} meetup {{history.location_min}}</h5>
      {% for bio in history.speakers %}
      <div class="speaker-with-bio"><!--INIT-->
        <div class="speaker">
          <div class="image-holder">
            <img class="background-image" alt="Speaker" src="speakers/{{bio.twitter}}.png">
            <div class="hover-state text-center preserve3d">
              <div class="social-links vertical-align">
                <a target="_blank" href="http://twitter.com/{{bio.twitter}}"><i class="icon social_twitter"></i></a>                
              </div>
            </div>
          </div>
        </div>

        <div class="speaker-description-mini">
          <h2>{{bio.name}}</h2>
          <span class="sub">{{bio.speak}}</span>
          
        </div>
      </div><!--END-->
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
</section>

<a id="organization" class="in-page-link"></a>

<section class="organization">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Organizadores</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% for organizer in site.data.organization %}
        <div class="col-md-3 col-sm-6">
          <div class="speaker-with-bio">
            <div class="speaker">
              <div class="image-holder">
                <img class="background-image" alt="Speaker" src="speakers/{{organizer.twitter}}.png">
                <div class="hover-state text-center preserve3d">
                  <div class="social-links vertical-align">
                    <a target="_blank" href="http://twitter.com/{{organizer.twitter}}"><i class="icon social_twitter"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-description">
              <h2 class="colorize">{{organizer.name}}</h2>
              <p>{{organizer.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


