<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript">
$(window).load(function(){      
  $('[delay-src]').each(function(index, image){
    $(this).attr('src', $(this).attr('delay-src'));
  });
});

</script>